* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-family: "Leckerli One", cursive;
  --header-family: "Baloo 2", sans-serif;
  --body-family: "Open Sans", sans-serif;

  --logo: 400 2.5rem/auto var(--logo-family);
  --h-md: 700 1.75rem/auto var(--header-family);
  --h-sm: 700 1.125rem/auto var(--header-family);
  --body-md: 500 1rem/auto var(--body-family);
  --body-sm: 500 0.875rem/auto var(--body-family);
  --body-xs: 500 0.75rem/auto var(--body-family);
}
